Repository paul-gilber/demoapp-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, javascript, dependencies, container, devcontainer, github-workflow, vscode-settings, git-config, lint

.github/labeler.yml:

---
# actions/labeler configuration: https://github.com/marketplace/actions/labeler

# Default GitHub Labels: https://docs.github.com/en/issues/using-labels-and-milestones-to-track-work/managing-labels#about-default-labels

# Add `documentation` label
documentation:
  # to any changes of markdown files on any folder or subfolders
  - '**/*.md'
  # to any changes within docs folder
  - docs/**

# Add `javascript` label
javascript:
  # to any changes within `src` folder
  - src/**
  # to any changes within `public` folder
  - public/**

# Add `dependencies` label
dependencies:
  - package.json
  - package-lock.json


# Add `container` label
container:
  # to any changes of any Containerfile within this repository
  - '**/Containerfile*'
  # to any changes of any Dockerfile within this repository
  - '**/Dockerfile*'
  # to any chages to container-structure-test.yaml file
  - container-structure-test.yaml
  # to any chages to compose.yaml or compose.yml file
  - compose.yaml
  - compose.yml

# Add `devcontainer` label
devcontainer:
  # to any changes within .devcontainer folder
  - .devcontainer/**

# Add `github-workflow` label
github-workflow:
  # to any changes within .github folder
  - .github/**

# Add `vscode-settings` label
vscode-settings:
  # to any changes within .vscode folder
  - .vscode/**

# Add `git-config` label
git-config:
  # to any changes within .git folder
  - .git/**
  # to any changes to .gitattributes file
  - .gitattributes
  # to any changes to .gitignore file
  - .gitignore
  # to any changes within .githooks folder
  - .githooks/**

# Add `lint` label
lint:
  # to any changes to files, folders and subfolders with `lint` keyword
  - '**lint**'

use pre-built frontend image
  .github/release-drafter.yml
  deploy/docker-compose/compose.yaml
Labels: github-workflow

run release for fix-release
  .github/workflows/release.yml
Labels: github-workflow

remove arm64
  docker-bake.hcl
Labels: none

Revert "run release for fix-release"
  .github/workflows/release.yml
Labels: github-workflow

add demoapp backend and mysql images to install command
  .github/release-drafter.yml
Labels: github-workflow

add learn react header to pass unit test
  .github/workflows/build.yml
  src/App.js
  src/constants.js
Labels: javascript, github-workflow

add uninstall command to release note
  .github/release-drafter.yml
Labels: github-workflow

add docker compose dry run to pre-commit hook
  .githooks/pre-commit
Labels: git-config

add unit test job, update docs
  .github/workflows/build.yml
  README.md
  deploy/docker-compose/compose.yaml
  docs/repository-configuration/README.md
Labels: documentation, github-workflow

npm audit fix
  Containerfile
  README.md
  package-lock.json
Labels: documentation, dependencies, container

use github-env-vars-action for build workflow
  .github/workflows/build.yml
Labels: github-workflow

install and cache npm dependencies, remove PROJECT
  .github/workflows/build.yml
Labels: github-workflow

remove print environment variables
  .github/workflows/build.yml
Labels: github-workflow

replace VERSION and PROJECT with github-env-vars-action provided variables
  .github/workflows/code-scan-sonarcloud.yml
  .github/workflows/merge-cleanup.yml
  .github/workflows/release.yml
Labels: github-workflow

remove SONAR_ORGANIZATION and SONAR_PROJECT_KEY variables
  .github/workflows/code-scan-sonarcloud.yml
Labels: github-workflow

install mysql, podman, trivy, container structure tests via features and remove from post create command
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Labels: devcontainer

git auto create missing upstream branch
  .devcontainer/postCreateCommand.sh
Labels: devcontainer
